
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
    background-color: #fff;
}

section {
    margin-bottom: 30px;
}
ul {
    list-style: none;
}




/* Utilities */

.row {
    border: 1px dashed red;
}

/* [class^="col"] {
    background-color: cornflowerblue;
    border: 1px dashed black ;

} */

#sony-logo {
    height: 18px;
}
 
.dropdown-toggle::after {
    color: gray;
   
}

/* bottone ricerca */
.search-btn {
    text-decoration-line: none;
    color: #000;
   
}

.bg-returnal {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center ;
    height: 500px;
}

.bg-takes {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center ;
    height: 600px;
}

#takes {
    margin-bottom: 0;
}

/* custom colros */

.bg-my-blue {
    background-color:#161C3B ;
}
 