
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

body{
    font-family:'Rubik Mono One', sans-serif;
    background-color: #fff;
}

section {
    margin-bottom: 30px;
}
ul {
    list-style: none;
}

/* Utilities */

.row {
    border: 1px dashed red;
}

[class^="col"] {
    background-color: cornflowerblue;
    border: 1px dashed black ;

}

#sony-logo {
    height: 18px;
}

.bi::after {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }
.dropdown-toggle::after {
    color: gray;
   
}

.search-btn {
    text-decoration-line: none;
    color: #000;
   
}